header{
  padding: 40px 4%;

}

header .interface{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
}

header nav.menu-desktop  ul {
  list-style-type: none; /*Remove a bolinha da lista*/
}

header nav.menu-desktop ul li {
  display: inline-block; /*Faz com que os elementos fiquem um ao lado do outro*/
  padding: 0 40px; /*Espacamento do topo e direita*/
}

header nav.menu-desktop a {
  color: #5c5c5c;
  text-decoration: none;
  text-decoration: none;
  display: inline-block; /*converter o link para funcionar o trasnform*/
}

header nav.menu-desktop a:hover {
  color: #22d4fd;
  transform: scale(1.05); /*Aumenta o tamanho do elemento*/
  transition: 0.2s; /*Tempo de transicao*/
}

#meu-nome {
  color: #22d4fd;
  transition: none;
  transform: none;
  text-decoration: none;
}

header .btn-contato button {
  padding: 10px 50px; /*Espacamento do topo e direita*/
  font-size: 18px;
  font-weight: 600;
  background-color: #22d4fd;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

header .btn-contato button:hover {
  box-shadow: 0 0 10px #22d4fd; /*Sombra do botao*/
  transition: 0.2s; /*Tempo de transicao*/
}
