@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*configuracoes gerais resetar o documento*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*para todos ficarem dentro da mesma caixa*/
    font-family: "Poppins", serif;

}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    scroll-behavior: smooth;
}

.interface {
    max-width: 1280px; /*Tera uma largura maxima ele nao vaia passar dos 1280px*/
    margin: 0 auto; /*Centraliza o conteudo*/
  }

